@mixin moving-sphere($color, $top, $left, $delay, $duration) {
    background-color: $color;
    opacity: 0.3;
    position: fixed;
    top: $top;
    left: $left;
    width: 2200px;
    height: 1200px;
    border-radius: 50%;
    animation-name: sunrise2;
    animation-duration: $duration;
    animation-timing-function: linear;
    animation-delay: $delay;
    animation-iteration-count: infinite;
}
.sun {
    @include moving-sphere(#8F85D8, -1050px, -300px, 1s, 10s);
}
.sun2 {
    @include moving-sphere(#8E6385, -1050px, -1200px, 2s, 14s);
}
.sun3 {
    @include moving-sphere(#5F4B8B, -1050px, -600px, 0s, 12s);
}

@keyframes sunrise2 {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(150px, 50px);
    }
    50% {
        transform: translate(300px, 10px);
    }
    75% {
        transform: translate(150px, 50px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
